#icons {
    display: none;
    cursor: pointer;
    font-size: 30px;
    align-self: flex-start;
}

#navContainer {
    display: flex;
    align-items: center;
}

@media (max-width: 810px) {
    #darkModeToggle {
        align-self: flex-start;
    }

    #icons {
        display: flex;
    }

    #icons:before {
        content: "\2630"; /* Icon with 3 vertical bars --> when menu not listed */
    }

    .active #icons:before {
        content: "\2715"; /* Icon with 3 horizontal bars --> when menu is listed */
    }

    #navContainer {
        height: 50px; /* When menu hidden, hide navbar space too */
    }

    #navContainer.active {
        height: auto; /* When navbar is active, put its height as before */
    }

    #navContainer ul {
        position: relative;
        left: -200%; /* On the left side | hidden */
        top: 5%;
        flex-direction: column;
        align-content: center;
        margin: 50px 0;
    }

    #navContainer li {
        padding: 3px 0;
    }

    #navContainer.active ul {
        left: 0;
    }

    .navLinks li a {
        display: flex;
        font-size: 1.5rem; /* Increase a bit the size of menu titles as screen is smaller */
    }
}