body {
    background: linear-gradient(-45deg, 
        rgba(var(--bgSecondaryRgb), var(--bgOpacityRgb)),
        rgba(var(--bgSecondaryInvertedRgb), 0.6),
        rgba(var(--bgSecondaryInvertedRgb), 0.6),
        rgba(var(--bgSecondaryRgb), var(--bgOpacityRgb)));		
	color: var(--primaryTextColor);
}

.container {
	background-color: var(--primaryBackground);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

h1, h2, h3 {
	color: var(--primaryColor);
}

h1.heroText {
	color: var(--primaryTextColor);
}

.navLinks li a{
	color: var(--primaryTextColor);
}

.navLinks li a:hover{
	color: var(--primaryColor);
}

a.ctaButtonLink.primaryDiv:hover {
	background: linear-gradient(to bottom, 
		var(--primaryTextColor), var(--primaryTextColor));
	color: var(--primaryInvertedTextColor);
}

a {
	color: var(--primaryTextColor);
}

a#currentNav {
	color: var(--primaryColor);
}

.primaryDiv, .secondaryDiv {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	transition: box-shadow 0.3s ease; /* Add transition effect for box shadow */
	border: 2px solid #ccc;
}

.primaryDiv {
	background: 
		linear-gradient(var(--primaryInvertedTextColor) 
			0 0) padding-box,
		linear-gradient(to right, var(--primaryColor), 
			var(--secondaryColor)) border-box;
	color: var(--primaryTextColor);
}

.secondaryDiv {
	background-color: var(--primaryInvertedTextColor);
}

.quoteDiv, .articleDiv, .tutorialDiv {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.headerLastUpdated time {
    color: var(--primaryEmphasizeColor);
}

blockquote:before {
	color: var(--primaryTextColor);
}

blockquote {
    color: var(--primaryTextColor);
}

.tutorialDiv pre {
    background-color: var(--bgSyntaxHighlight);
}

.ctaButton {
	background-color: var(--primaryTextColor);
	color: var(--primaryInvertedTextColor);
}

.ctaButton:hover, .ctaButton:active {
	background-color: var(--primaryInvertedTextColor);
	color: var(--primaryTextColor);
	border: 3px solid var(--primaryColor);
}

.customSelect:focus, .customSelect:active {
	border: 1px solid var(--primaryEmphasizeColor);
	background-color: var(--primaryBackground);
	color: var(--primaryTextColor);
}