<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codify</title>
    <meta name="author" content="Ferreira Steven">
	<link rel="shortcut icon" href="#">
	<link rel="stylesheet" href="../css/themes.css">
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/animationsTransitions.css">
	<link rel="stylesheet" href="../css/hamburgerMenu.css">
	<link rel="stylesheet" href="../css/themeSwitcher.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/tokyo-night-dark.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/stackoverflow-light.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <div class="container">
		<header id="navigation">
			<div ref="burgerVue" id="navContainer">
				<div @click="burgerMenuActive" id="icons"></div>
				<nav class="navbar">
					<ul class="navLinks">
						<li><a data-i18n="navIndex" href="../index.html">Codify</a></li>
						<li><a data-i18n="navImages" href="./images.html">Images</a></li>
						<li><a data-i18n="navAnimations" href="./animations.html">Animations</a></li>
						<li><a data-i18n="navTheme" href="./theming.html">Light And Dark Theme</a></li>
						<li><a data-i18n="navHamburgerMenu" href="./hamburger.html">Hamburger Menu</a></li>
						<li><a id="currentNav" data-i18n="navMultiLang" href="./multilingual.html">Multilingual Website</a></li>
					</ul>
				</nav>
				<button type="button" id="darkModeToggle" class="darkModeToggle">
					<img id="iconTheme" width="40" height="40" src="../img/icons/sunMin.svg" alt="Sun">
				</button>
			</div>
        </header>

        <main>
			<div class="quoteDiv primaryDiv">
				<blockquote data-i18n="mainQuote">
					<q>Multilingual websites enhance user experience,
					broadening your audience reach and fostering inclusivity.
					Providing content in multiple languages is not just a feature;
					it's a necessity for a globalized online presence.
					</q>
				</blockquote>
			</div>
            <div class="articleDiv secondaryDiv">
				<article>
					<header>
						<h1 data-i18n="headerHeadingH1">Why are Multilingual Websites Important?</h1>
						<div class="headerInfo">
							<div class="HeaderAuthorInfo">
								<p data-i18n="headerAuthorInfoP">Written by</p>
								<a data-i18n="headerAuthorInfoLink" href="mailto:steven.ferreira@unistra.fr" rel="author">FERREIRA Steven</a>
							</div>
							<div class="headerLastUpdated">
								<svg class="icon" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" 
									viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
									<path stroke-linecap="round" stroke-linejoin="round" 
									d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"></path>
								</svg>
								<p data-i18n="headerLastUpdatedP">Last updated on the</p>
								<time data-i18n="headerLastUpdatedTime" datetime="2023-12-22 20:00">12th December</time>
							</div>
						</div>
						<p data-i18n="headerIntroP">An exploration of the significance of multilingual websites</p>
					</header>
					<section class="content">
						<h2 data-i18n="articleContentHeadingH2">The Essence of Multilingual SEO and Localization</h2>
						<p data-i18n="articleContentPA">
							Having an online presence is crucial for businesses today, enabling them to showcase products, reach wider audience and build customer relationships. In multilingual countries, a positive online experience involves providing content in multiple languages. This article delves into the importance of website localization and multilingual search engine optimization (SEO).
						</p>

						<h3 data-i18n="articleContentHeadingH3A">Translate – Speak Your Readers' Language</h3>
						<p data-i18n="articleContentPB">
						More than half of consumers, according to a Common Sense Advisory survey, are willing to pay more for information in their language. Businesses, especially in multilingual regions, recognize the importance of offering content in various languages. Translating a website involves localization, ensuring adaptation to the target market's cultural nuances.</p>

						<h3 data-i18n="articleContentHeadingH3B">Multilingual SEO – Ensure Visibility on Search Engines</h3>
						<p data-i18n="articleContentPC">Attracting visitors and search engines is essential for the success of multilingual websites. Strategies such as keyword research and transcreation drive targeted search traffic. Tailored keyword optimization for different linguistic groups is crucial.</p>
					</section>
					<footer>
						<h2 data-i18n="articleConclusionHeadingH2">Conclusion</h2>
						<p data-i18n="articleConclusionP">
						Successful multilingual SEO requires high-quality, localized content optimized for the target market. While creating an SEO-friendly multilingual website is demanding, the rewards include increased traffic and sales. Thorough research is essential for a successful project.
						</p>
					</footer>
				</article>
            </div>
            <section class="tutorialDiv secondaryDiv">
				<h2 data-i18n="tutorialIntroH2">How to Code a Multilingual Website?</h2>
				<p data-i18n="tutorialIntroP">Please follow these steps below to create a multilingual website.</p>
				<section>
					<h3>HTML</h3>
					<p data-i18n="demoHtmlP">To start, create your HTML file. Use HTML elements with unique data-i18n attributes inside. These attributes are used to translate your content.</p>
					<pre>
						<code id="codingHtml">
&lt;h1 data-i18n="demoTranslate" id="demoTranslate"&gt;Hello World&lt;/h1&gt;
						</code>
					</pre>
				</section>
				<section>
					<h3>JavaScript</h3>
					<p data-i18n="demoJsP">Start by creating your JavaScript file.</p>
					<ol>
						<li data-i18n="demoJsStep1">First, define a JSON object. For each language, create keys with one or more data-i18n keys and their corresponding translated texts. Remember to repeat the translations for each language.</li>
						<li data-i18n="demoJsStep2">Next, find all elements with data-i18n attributes/texts using querySelectorAll inside your function. Replace your HTML content with the content from the JSON object.</li>
						<li data-i18n="demoJsStep3">Finally, call your function to start the translation process.</li>
					</ol>
					<pre>
						<code id="codingJs">
							// 1.
							var translations = {
								"en": {
									"demoTranslate": "Translate me to french!",
								},
								"fr": {
									"demoTranslate": "Traduis moi en anglais!",
								}
							}

							// 2.
							function updateContent(selectedLanguage) {
								document.querySelectorAll('[data-i18n]').forEach(element =&gt; {
									const key = element.getAttribute('data-i18n');
									element.innerHTML = translations[selectedLanguage][key];
								});
							}
						</code>
					</pre>
				</section>
            </section>
			<div class="primaryDiv demoDiv" id="demoChangeLanguage">
				<h3 demo-i18n="demoLiveSectionH3">Live demo</h3>
				<label :for="demoLanguage" demo-i18n="demoLiveSectionLabel">Translate to french:</label>
				<select v-model="demoSelectedLanguage" @change="demoFetchJsonContent(this.value)">
					<option demo-i18n="demoFooterLang1" value="en">English</option>
					<option demo-i18n="demoFooterLang2" value="fr">French</option>
				</select>
			</div>
		</main>
		<div id="appChangeLanguage">
			<footer>
				<p data-i18n="footerP">&copy; Codify made by FERREIRA Steven, MILESI Cesar &amp; FURRER Esther</p>
				<div class="languageSelector">
					<label :for="language" data-i18n="footerLabel">Choose your language of preference:</label>
					<select class="customSelect" v-model="selectedLanguage" @change="fetchJsonContent('multilingual')" >
						<option data-i18n="footerLang1" value="en">English</option>
						<option data-i18n="footerLang2" value="fr">French</option>
					</select>
				</div>
			</footer>
		</div>
	</div>
	<!-- All page that uses our global web components have to follow this order -->
	<script src="../js/vue3.4.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
	<script src="../js/languageSwitcher.js"></script>
	<script src="../js/burgerMenu.js"></script>
	<script src="../js/darkThemeSwitcher.js"></script>
	<script src="../js/syntaxHighlighter.js"></script>

	<script src="../js/demo/multilang.js"></script>
</body>
</html>