#iconDemo {
    display: none;
    cursor: pointer;
    font-size: 30px;
    align-self: flex-start;
}

#navContainerDemo {
    display: flex;
    justify-content: center;
    border-style: solid;
    resize: horizontal;
    overflow: auto;
    margin: 0 auto 0 0;
    min-width: 160px;
    container-type: inline-size;
    font-size: large;
    max-width: calc(70vw - 5px);
}

.navLinksDemo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 35px;	
}

.navLinksDemo li{
    margin: 0 auto;
    list-style-type: none;
}

.navElementDemo a {
    text-decoration: none;
    font-size: 0.8rem;
}

.commentDemo {
    margin: 30px 20px 0 20px;
}

@container (width < 45cqi) {
    #iconDemo {
        display: flex;
        justify-content: end;
        margin: 5px 5px;
    }

    .navbarDemo {
        flex-grow: 1;
    }

    #iconDemo:before {
        content: "\2630";
    }

    .active #iconDemo:before {
        content: "\2715";
    }

    #navContainerDemo.active {
        height: auto;
    }

    #navContainerDemo ul {
        position: relative;
        left: -200%;
        top: 5%;
        flex-direction: column;
        align-content: center;
        margin: 50px 0;
    }

    #navContainerDemo.active ul {
        left: 0;
        padding: 0;
    }

    .navLinksDemo li a {
        font-size: 1.5rem;
    }
}